<section class="my-navbar">
  <h1 class="logo-nav">
    <% if user_signed_in? %>
      <%= link_to "SINGYTALKIE", songs_path, method: :get %>
    <% else %>
      <%= link_to "SINGYTALKIE", root_path, method: :get %>
    <% end  %>
  </h1>
  <% if user_signed_in? %>
    <div class="avatar-square">
        <% if current_user and current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key %>
        <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
        <% end %>
    </div>
  <% end %>
</section>


<div class="wrapper">
  <input type="checkbox" id="navigation" class="navigation-input"/>
  <label for="navigation" class="nav-label">
      <i class="fa-solid fa-bars"></i>
  </label>

  <nav>
    <ul>
      <li class="nav-li">
        <%= link_to "Home", root_path, method: :get %></a>
      </li>
      <li class="nav-li">
        <%= link_to "Pick a song", songs_path, method: :get %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-li">
          <%= link_to "Create a playlist", new_playlist_path, method: :get %>
        </li>
        <li class="nav-li">
          <%= link_to "My playlists", playlists_path, method: :get %>
        </li>
        <li class="nav-li">
          <%= link_to "Edit Profile", edit_user_registration_path, method: :get %>
        </li>
        <li class="nav-li">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-li">
          <%= link_to "Log in", new_user_session_path %>
        </li>
          <li class="nav-li">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
      <% end %>
      </li>
    </ul>
  </nav>
</div>
