

<section class="navbar-container">
  <div class="checkbox-container">
    <input class="checkbox-trigger" type="checkbox"  />
    <div class="menu-content">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Edit Profile", edit_user_registration_path, method: :get %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      <div class="hamburger-menu"></div>
    </div>
  </div>
  <div class="avatar-square">
       <% if current_user and current_user.photo.attached? %>
           <%= cl_image_tag current_user.photo.key %>
       <% else %>
           <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
       <% end %>
  </div>
 </section>
