<section class="card-container"  data-search-songs-target="list">
    <% @songs.each do |song| %>
      <div class="song-cards">
        <div class="song-cards-header">

          <iframe class="song-cards-video" src="<%= song.song_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>

          <div class="song-cards-info">
            <p class="genre-txt"><%= song.genre %></p>
            <h2 class="txt-blue-md"><%= song.title.upcase %></h2>
            <h4 class="txt-blue-md"><%= song.artist.upcase %></h4>
          </div>

        </div>


          <div class="song-cards-levels">
            <%= link_to 'Beginner ★☆☆', song_path(song, level: "beginner"), class: "button button-submit  button-a" %>
            <%= link_to 'Intermediate ★★☆', song_path(song, level: "intermediate"), class: "button button-submit button-a" %>
            <%= link_to 'Advanced ★★★', song_path(song, level: "advanced"), class: "button button-submit  button-a" %>
          </div>

      </div>
  <% end %>
</section>
