<section class="card-container"  data-search-songs-target="list">
    <% songs.each do |song| %>
      <div class="song-cards song-cards-space">
        <div class="song-cards-header">

          <iframe class="song-cards-video" src="<%= song.song_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>

          <div class="song-cards-info">
            <p class="genre-txt"><%= song.genre %></p>
            <h2 class="txt-blue-md"><%= song.title.upcase %></h2>
            <h4 class="txt-blue-md"><%= song.artist.upcase %></h4>
          </div>
        </div>

        <div class="buttons-container">
        <!-- Button trigger modal -->
        <button type="button" class="button orange-button button-a bck-white" data-bs-toggle="modal" data-bs-target= <%= "#song-#{song.id}" %>>
          Learn this song!
        </button>

        <% can_delete = can_delete || nil %>
        <% if can_delete %>
          <%= link_to bookmark_path(@playlist.bookmarks.find_by(song_id: song.id)), method: 'DELETE', data: { confirm: 'Are you sure?' } do %>
          <i class="fa-solid fa-trash trash-song"></i>
        <% end %>
        <% end %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id=<%= "song-#{song.id}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pick a level!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="song-modal-levels">
                  <%= link_to 'Beginner ★☆☆', song_path(song, level: "beginner"), class: "green-button button-small button-a" %>
                  <%= link_to 'Intermediate ★★☆', song_path(song, level: "intermediate"), class: "orange-button button-small button-a" %>
                  <%= link_to 'Advanced ★★★', song_path(song, level: "advanced"), class: "red-button button-small button-a" %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  <% end %>
</section>
