<div class="page-wrap cards-wrap">
  <h1 class="txt-blue-md">PICK A SONG! START LEARNING!</h1>

  <section class="random">
    <h4><%= "Don't know what to listen to to?".upcase%></h4>
    <div class="button button-submit"> <%= link_to 'Pick a song for me!', random_path %></div>
  </section>

  <section class="card-container">
    <% @songs.each do |song| %>
      <div class="song-cards">
        <div class="song-cards-header">
          <iframe class="song-cards-video" src="<%= song.song_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
          <div class="song-cards-info">
            <h2 class="txt-blue-md"><%= song.title.upcase %></h2>
            <h4 class="txt-blue-md"><%= song.artist.upcase %></h4>
            <p><%= song.genre %></p>
          </div>
        </div>
        <div class="button button-submit"> <%= link_to 'Learn this song!', song_path(song) %></div>
        </div>
    <% end %>
  </section>
</div>
