<div class="page-wrap-score">
  <div class="align-cards">
    <div class = "card rating"> SCORE
      <div class="card-body score">
        <%= @final_rating %>
        <div class="phrase">
        Congrats! You rocked!
        </div>
      </div>
    </div>


    <div class = "card stats"> STATS
      <div class="card-body time">
        <p></p>
        <p class="acertos"> CORRECT ANSWERS: X/X </p>
        <p class="acertos"> TIME: 0'0'' </p>
      </div>
    </div>
  </div>
    <div class = "card gabarito">
        WORDS
    </div>
</div>



  <div class="row">
    <div class="column">
      <div class="song-header">
        <h2><%= @song.title.upcase %></h2>
        <h4><%= @song.artist.upcase %></h4>
        <p><%= @song.genre %></p>
      </div>
    </div>
  </div>





  <div class="row mb-5">
    <div class="col-12 col-md-6">
     <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary pt-3">
          <h5 class = card-title> LYRICS </h5>
        </div>
        <div class="card-body bg-transparent bg-opacity-50">
          <%= @song.lyrics  %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back", songs_path, class: "button button-back button-a" %>
