<div class="page-wrap-score" data-controller="score">
  <div class="align-cards">
    <div class = "card rating"> SCORE
      <div class="card-body score">
        <span data-score-target="rating" data-value=<%= @final_rating %>>
          <%= @final_rating %>
        </span>
        <div class="phrase">
          <div class="title">
              <span class="block"></span>
              <h3>Congrats! You rocked!</h3>
          </div>
        </div>
      </div>
    </div>


    <div class = "card stats"> STATS
      <div class="card-body time">
        <p></p>
        <p class="acertos"> CORRECT ANSWERS: <%= "#{@rating}/#{Song::LEVELS[@level]}"  %></p>
      </div>
    </div>
  </div>
</div>


<div class = "card gabarito">
  WORDS
  <% @words.each do |answer, input| %>
  <% if answer == input %>
     <p>Correct: <%= answer %> Your Input: <%= input %></p> <%# INSERIR CLASSE DE ACERTO%>
     <% else %>
     <p>Correct: <%= answer %> Your Input: <%= input %></p> <%# INSERIR CLASSE DE ERRO%>
     <% end %>
  <%end %>

</div>

  <div class="row">
    <div class="column">
      <div class="song-header">
        <h2><%= @song.title.upcase %></h2>
        <h4><%= @song.artist.upcase %></h4>
        <p><%= @song.genre %></p>
      </div>
    </div>
  </div>





  <div class="row mb-5">
    <div class="col-12 col-md-6">
     <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary pt-3">
          <h5 class = card-title> LYRICS </h5>
        </div>
        <div class="card-body bg-transparent bg-opacity-50">
          <%= @song.lyrics %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back", songs_path, class: "button button-back button-a" %>
