<div class="score-bg" data-controller="score">

  <div class="align-cards">
    <div class = "card rating">
        <div class="card-body-score score">
          <span data-score-target="rating" data-value=<%= @final_rating %>>
          <%= @final_rating %>
          </span>
            <div class="phrase">
              <div class="title">
                <span class="block"></span>
                <% case @final_rating
                when 0..9 %>
                  <h3> Don't panic... We're just getting started! </h3>
                <% when 10..25 %>
                  <h3> "You'll do better next time. Let's try again." </h3>
                <% when 26..50 %>
                  <h3> "Good job! You are getting better! Don't give up!" </h3>
                <% when 51..75 %>
                  <h3> "Awesome! You almost made it!"</h3>
                <% else %>
                  <h3> "CONGRATULATIONS! YOU ROCK!"</h3>
                <% end %>
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="score-wrap">
    <div class="song-cards songs-cards-translation">
      <h5 class="song-card-title"> CORRECT ANSWERS: <%= "#{@rating}/#{Song::LEVELS[@level]}"  %> </h5>
      <ol>
        <% @words.each do |answer, input| %>
        <% if answer == input %>
          <li class="answers">Correct: <%= answer %> • Your Input: <%= input %></li> <%# INSERIR CLASSE DE ACERTO%>
          <% else %>
          <li class="answers">Correct: <%= answer %> • Your Input: <span class='wrong-answer'><%= input %></span></li> <%# INSERIR CLASSE DE ERRO%>
          <% end %>
        <%end %>
      </ol>
    </div>

    <div class="song-cards songs-cards-translation">
      <h5 class = "song-card-title"> LYRICS </h5>
      <div>
        <% lyrics = @song.lyrics %>
        <%= line_breaker(lyrics) %>
      </div>
    </div>

    <div class="song-cards songs-cards-translation">
      <h5 class = "song-card-title"> TRANSLATION </h5>
      <div>
        <% translation = @song.translation %>
        <%= line_breaker(translation) %>
      </div>
    </div>
  </div>

  <%= link_to "Back", songs_path, class: "button button-submit button-a" %>
</div>
