<div class="cards-wrap">
      <div class="video-container">
        <iframe class="video-show" width="560" height="315" src="<%= @song.song_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="song-header">
        <h2><%= @song.title.upcase %></h2>
        <h4><%= @song.artist.upcase %></h4>
        <p><%= @song.genre %></p>
      </div>

  <section class="card-container-lyrics">
    <div class="song-cards">
      <h5 class = "song-card-title"> LYRICS </h5>
      <div>
      <%= form_with url: score_song_path(@song), method: :get do |form|  %>
        <%= @song.complete_song(:beginner) %>
        <div class="words-submit">
          <%= form.submit "Submit!", class: "button button-submit button-a" %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="song-cards">
      <h5 class = "song-card-title"> TRANSLATION </h5>
      <div>
        <% translation = @song.translation %>
        <%= translation_with_breaks(translation) %>
      </div>
    </div>
  </section>

<%= link_to "Back", :back, class: "button button-back button-a" %>
</div>
