<div class="cards-wrap-song-show">

  <section class="card-container-lyrics">
    <div class="song-cards-header-infos">
      <div class="video-container">
        <iframe class="video-show" src="<%= @song.song_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
      <div class="song-header song-header-video">
          <h2><%= @song.title.upcase %></h2>
          <h4><%= @song.artist.upcase %></h4>
          <p class="genre-txt"><%= @song.genre %></p>
      </div>
      <div class="songs-cards-levels">
        <%= link_to 'Beginner ★☆☆', song_path(@song, level: "beginner"), class: "green-button button-a button-small" %>
        <%= link_to 'Intermediate ★★☆', song_path(@song, level: "intermediate"), class: "orange-button button-a button-small" %>
        <%= link_to 'Advanced ★★★', song_path(@song, level: "advanced"), class: "red-button button-small button-a" %>
      </div>
    </div>

    <div class="song-cards">
      <h5 class = "song-card-title"> LYRICS </h5>
      <div>
      <%= form_with url: score_song_path(@song), method: :get do |form|  %>
        <%= @song.complete_song(@level) %>
        <div class="words-submit">
          <%= form.hidden_field :level, value: @level %>
        </div>
      </div>
    </div>

    <div class="song-cards songs-cards-translation">
      <h5 class = "song-card-title"> TRANSLATION </h5>
      <div>
        <% translation = @song.translation %>
        <%= line_breaker(translation) %>
      </div>
    </div>
  </section>

  <%= form.submit "Submit!", class: "button orange-button button-a wrap-button-center" %>
  <% end %>
  <%= link_to "Back", :back, class: "button gray-button button-a wrap-button-center" %>
  </div>
