<div class="cards-wrap-song-show">
      <div class="video-container">
        <iframe class="video-show" width="560" height="315" src="<%= @song.song_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

  <section class="card-container-lyrics">
    <div class="song-cards-levels">
      <div class="song-header">
          <h2><%= @song.title.upcase %></h2>
          <h4><%= @song.artist.upcase %></h4>
          <p class="genre-txt"><%= @song.genre %></p>
      </div>
      <%= link_to 'Beginner ★☆☆', song_path(@song, level: "beginner"), class: "button-a button-small" %>
      <%= link_to 'Intermediate ★★☆', song_path(@song, level: "intermediate"), class: "button-a button-small" %>
      <%= link_to 'Advanced ★★★', song_path(@song, level: "advanced"), class: "button-small button-a" %>
    </div>

    <div class="song-cards">
      <h5 class = "song-card-title"> LYRICS </h5>
      <div>
      <%= form_with url: score_song_path(@song), method: :get do |form|  %>
        <%= @song.complete_song(@level) %>
        <div class="words-submit">
          <%= form.hidden_field :level, value: @level %>
          <%= form.submit "Submit!", class: "button orange-button button-a bck-white" %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="song-cards songs-cards-translation">
      <h5 class = "song-card-title"> TRANSLATION </h5>
      <div>
        <% translation = @song.translation %>
        <%= line_breaker(translation) %>
      </div>
    </div>
  </section>

<%= link_to "Back", :back, class: "button green-button button-a wrap-button-center" %>
</div>
