<div class="background-devise-views-login">
  <div class="devise-wrap">


    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false, class: "button",
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false, class: "button",
                    input_html: { autocomplete: "current-password" } %>
        <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <div><%= f.button :submit, "Log in", class: "button orange-solid-button button-a" %></div>
      </div>
    <% end %>

    <div class="text-links">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class:"forgot-buttons button-a"%><br />
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class:"forgot-buttons button-a"  %><br />
      <% end %>
    </div>
  </div>
</div>
