<div class="page-wrap">
  <ol class="playlist-list">
    <% @playlists.each do |playlist| %>
      <div class="playlist-list-container">
        <li class="playlist-list"><%= playlist.title %></li>
        <div class="playlist-menu">
          <%= link_to "go to playlist", playlist_path(playlist), class: "button-small orange-button button-a" %>

          <%= link_to edit_playlist_path(playlist), method: 'GET' do%>
          <i class="fa-solid fa-pen-clip fa-sm"></i>
          <% end %>

           <%= link_to playlist_path(playlist), method: 'DELETE', data: { confirm: 'Are you sure?' } do%>
          <i class="fa-solid fa-trash fa-sm"></i>
          <% end %>

        </div>
      </div>
      <hr class="playlist-hr">
    <% end %>
  </ol>

  <%= link_to 'New playlist', new_playlist_path, class: "button orange-button button-a wrap-button-center"%>
</div>
