<div class="page-wrap">
  <h3><%= @playlist.title.capitalize %></h3>

  <div class="add-song">
    <h5 class="text-center watch-text">Add a song to the playlist</h5>
    <%= simple_form_for [@playlist, @bookmark] do |f| %>
      <%= f.association :song, label:false, collection: @songs, prompt: 'Choose a song', input_html: { class: 'form-select' } %>
      <%= f.button :submit, 'Add Song', class: "button-small orange-button button-a" %>
      <% end %>
  </div>

      <%= render "songs/list", songs: @playlist.songs, can_delete: true %>


  <section class="buttons-bottom">
    <%= link_to "Edit Playlist", edit_playlist_path(@playlist), method: 'GET', class: "button-small orange-button button-a"%>
    <%= link_to "Delete Playlist", playlist_path(@playlist), method: 'DELETE', data: { confirm: 'Are you sure?' }, class: "button-small orange-solid-button button-a-solid" %>
    <%= link_to 'Back', playlists_path, class: "button green-button button-a" %>
  </section>
</div>
