<div >
  <div class="container">
    <h1><%= @playlist.title %></h1>
  </div>
</div>
  <div>
    <h3 class="text-center watch-text">Add a song to the playlist</h3>
    <%= simple_form_for [@playlist, @bookmark] do |f| %>
      <%= f.association :song, label:false, collection: Song.all.order(:title), prompt: 'Choose a song', input_html: { class: 'form-select' } %>
      <%= f.submit %>
      <% end %>
  </div>

  <%= link_to '<< home', root_path %>
</div>
