<div class="page-wrap">
  <h3><%= @playlist.title.capitalize %></h3>

  <div class="add-song">
    <%= simple_form_for [@playlist, @bookmark] do |f| %>
      <span class='teste'><%= f.association :song, label:false, collection: @songs, prompt: 'Add a song', input_html: { class: 'form-select' } %></span>
      <%= f.button :submit, 'Add Song', class: "button-small orange-button button-a" %>
      <% end %>
  </div>


    <div class="cards-wrap">
      <%= render "songs/list", songs: @playlist.songs, can_delete: true %>
    </div>


  <section class="buttons-container">
    <%= link_to 'Back', playlists_path, class: "button-small gray-button button-a" %>
  </section>
</div>
